Django==3.2.5
django-allauth==0.52.0
django-cors-headers==3.10.1
django-drf-filepond==0.4.1
django-filter==21.1
django-storages==1.13.2
djangorestframework==3.12.4
jupyter_core==5.1.2
matplotlib==3.6.2
matplotlib-inline==0.1.6
mercury==2.2.1
numpy==1.24.0
pandas==1.5.2
python==3.10.9

